macro_tooltip_func: macro_tooltip_func{
compatible = "zmk,behavior-macro";
label = "macro_tooltip_func";
#binding-cells = <0>;
bindings = <&kp LC(K)>, <&kp LC(I)>;
};
macro_arrow: macro_arrow{
compatible = "zmk,behavior-macro";
label = "macro_arrow";
#binding-cells = <0>;
bindings = <&kp KP_EQUAL>, <&kp GREATER_THAN>;
};
macro_prev_splitter: macro_prev_splitter{
compatible = "zmk,behavior-macro";
label = "macro_prev_splitter";
#binding-cells = <0>;
bindings = <&kp LC(K)>, <&kp LC(LEFT)>;
};
macro_next_splitter: macro_next_splitter{
compatible = "zmk,behavior-macro";
label = "macro_next_splitter";
#binding-cells = <0>;
bindings = <&kp LC(K)>, <&kp LC(RIGHT)>;
};
